# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Uploads
uploads/*
!uploads/.gitkeep

# MediaPipe model
models/*.task

# Silent Face models
antispoof/resources/anti_spoof_models/*.pth

# IDE
.vscode/
.idea/