# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# Uploads
uploads/*
!uploads/.gitkeep

# InsightFace Models
resources/antispoof/
.insightface/
models/*.task

# ONNX Cache
*.ONNX

# Temporary Images
*.png
*.jpg
*.jpeg

# Keep README images if any
!docs/*.png